/* RESET */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-margin-top: 25rem;
}

.box-sizing-reset {
  box-sizing: unset;
}

img {
  vertical-align: unset;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: unset;
  margin-bottom: unset;
  font-weight: bold;
  line-height: 1.2;
  color: unset;
}

ol, ul {
  padding-left: unset;
}

body {
  line-height: unset;
}

.navbar {
  --bs-navbar-padding-y: 0;
}

ul {
  margin-bottom: unset;
}

/* EN CONSTRUCCION */
.enconstruccionContainer {
  border-top: 0.4rem dotted #302e2e;
  border-bottom: 0.4rem dotted #302e2e;
  margin-top: 16rem;
  height: 48rem;
}

.imgenconstruccion {
  position: absolute;
  margin-left: 6.4rem;
  width: 64rem;
}

.enconstruccionH {
  font-size: 6.4rem;
  color: #302e2e;
  border: 0.4rem double #302e2e;
  border-radius: 1rem;
  position: absolute;
  margin-left: 72rem;
  margin-top: 20.8rem;
}

/* UNIVERSAL */
.universal-background {
  display: flex;
  justify-content: center;
  padding-top: 25%;
}

.universal-h-start {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8rem;
  text-align: center;
}

.universal-description-container {
  margin-top: 10rem;
  padding: 2rem;
}

.universal-p {
  font-family: "Raleway";
  font-size: 1.7rem;
  color: white;
  margin-bottom: 1rem;
}

.universal-p-variante {
  font-size: 2rem;
}

.universal-h {
  color: white;
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
  text-shadow: black 6px 5px 9px;
}

@media screen and (max-width: 1200px) {
  .universal-h-start {
    font-size: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .universal-h-start {
    font-size: 3rem;
  }
  .universal-p {
    font-size: 1.4rem;
  }
}
/* HEADER */
.header {
  background-image: url(../img/header-footer/header.png);
  opacity: 85%;
  background-size: 100%;
  height: 10.4rem;
  width: 100%;
  position: fixed;
  border-bottom: 0.1rem ridge rgb(118, 17, 17);
  z-index: 1;
}

.navbar-container {
  height: 10.4rem;
  display: flex;
  justify-content: space-around;
}

.navheader {
  font-size: 4.8rem;
  color: white;
  height: 5.2rem; /* 
margin-right: 12rem; */
  padding-left: 1rem;
  transition: text-shadow 5s;
}

.navheader:hover {
  text-shadow: 1px 1px 8px white;
  transition: 1s;
}

.navbar-nav {
  background-image: url(../img/header-footer/header.png);
  background-size: 100%;
  width: 100%;
  gap: 2rem;
}

.navbar-collapse {
  flex-grow: unset;
}

.show {
  border: 0rem 0.1rem 0.1rem 0.1rem;
  border-bottom: 0.2rem ridge rgb(118, 17, 17);
  border-right: 0.2rem ridge rgb(118, 17, 17);
  border-left: 0.2rem ridge rgb(118, 17, 17);
}

.navitem {
  width: max-content;
  padding: 0rem 1rem;
  border-radius: 1.6rem;
}

.navitem:hover {
  background-color: #5F5B5B;
  transition: 0.7s;
}

.navlink {
  font-size: 2.4rem;
  text-decoration: none;
  color: #D6D1D1;
}

.navlink-actual {
  text-decoration: underline;
  color: #DE7A7A;
  text-shadow: 1px 1px 6px;
}

/* ICONOS */
.nav-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: -0.5rem;
  margin-right: 0.5rem;
}

.nav-icon-planetas {
  height: 2rem;
  width: 3.5rem;
  margin-bottom: -0.2rem;
}

.nav-icon-observatorio {
  height: 2.5rem;
  width: 2rem;
}

.nav-icon-actual {
  filter: drop-shadow(1px 1px 6px white);
}

.navbar-toggler-icon {
  background-image: url(../img/header-footer/navbar-expand-icon.png);
  width: 6rem;
  height: 6rem;
}

@media screen and (max-width: 1400px) {
  .navlink {
    font-size: 2rem;
  }
  .nav-icon {
    height: 2.2rem;
    width: 2.2rem;
  }
  .nav-icon-planetas {
    height: 1.7rem;
    width: 3rem;
  }
  .nav-icon-observatorio {
    height: 2.2rem;
    width: 1.7rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 6.66rem;
  }
  .navheader {
    font-size: 2.8rem;
    margin-right: 0rem;
    height: 3.4666666667rem;
  }
  .navbar-container {
    height: 100%;
  }
}
/* FOOTER */
.footer {
  background-color: #393838;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
}

.footer-ul {
  display: flex;
  justify-content: space-evenly;
}

.footer-item {
  height: 9rem;
  background-color: #302e2e;
  border-radius: 1rem;
  padding: 0.5rem;
}

.footer-item-decoration {
  border-left: 0.1rem solid gray;
}

/* FOOTER ; SOBRE NOSOTROS*/
.footer-item-sobrenosotros {
  width: 30rem;
}

.footer-sobrenosotros-h {
  font-size: 2rem;
  color: #989494;
}

.footer-sobrenosotros-p {
  font-size: 1.3rem;
  color: #d3d3d3;
}

.footer-sobrenosotros-mini-p {
  font-size: 1rem;
}

/* FOOTER ; SUBIR A ARRIBA */
.footer-item-up {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-up-img {
  height: 4.5rem;
  width: 4rem;
}

.footer-up-img:hover {
  border: 0.1rem solid gray;
  border-radius: 1rem;
  transform: scale(1.5);
  transition-duration: 0.2s;
}

/* FOOTER; LOGO */
.footer-item-logo {
  width: 40.8rem;
}

.footer-logo-h {
  color: white;
  font-size: 3.5rem;
}

.footer-logo-img {
  height: 50%;
  width: 55%;
}

/* FOOTER ; DERECHOS */
.footer-item-derechos {
  width: 20rem;
  overflow: hidden;
  padding-left: 0.8rem;
}

.footer-derechos-div {
  height: 50%;
}

.footer-derechos-h {
  font-size: 1.5rem;
  color: #989494;
}

.footer-derechos-p {
  font-size: 1rem;
  color: white;
}

/* FOOTER ; REDES SOCIALES */
.footer-item-redessociales {
  width: 13rem;
}

.footer-redessociales-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.footer-redessociales-item {
  list-style: none;
  width: 3rem;
}

.footer-redessociales-icon {
  height: 3.5rem;
  width: 3.5rem;
}

.footer-redessociales-icon:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 3rem 0 0 0;
  }
  .footer-escritorio {
    display: none;
  }
  .footer-celular {
    display: block;
  }
  .footer-item {
    margin-bottom: 4rem;
  }
  .footer-item-logo {
    width: 20.8rem;
  }
  .footer-logo-img {
    height: 50%;
    width: 40%;
    resize: auto;
  }
  .footer-celular-item-redessociales {
    display: flex;
    justify-content: center;
  }
  .footer-celular-div-redessociales {
    width: 15rem;
  }
  .footer-redessociales-ul {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .footer-escritorio {
    display: block;
  }
  .footer-celular {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .footer-logo-img {
    height: 50%;
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .footer-item-derechos {
    font-size: 15%;
  }
  .footer-item-logo {
    font-size: 15%;
  }
  .footer-item-redessociales {
    font-size: 15%;
  }
  .footer-item-sobrenosotros {
    font-size: 15%;
  }
  .footer-item-up {
    font-size: 15%;
  }
}
/* INICIO */
.iniciomain {
  background-color: #5F5B5B;
  height: 100%;
  padding-bottom: 8rem;
  overflow: hidden;
}

.inicio-container {
  background: rgb(43, 41, 45);
  background: linear-gradient(129deg, rgb(43, 41, 45) 0%, rgb(23, 22, 24) 23%, rgb(56, 56, 56) 51%, rgb(54, 52, 52) 55%, rgb(34, 34, 34) 66%, rgb(51, 51, 51) 100%);
  border-radius: 1rem;
  padding: 2.5rem;
  margin-top: 10rem;
  box-shadow: 2px 2px 6px black;
}

.inicio-h {
  color: gray;
  text-shadow: gray 1px 1px 10px;
  border: 0.2rem outset gray;
  width: 80rem;
}

/* MAIN ; IMAGEN DEL INICIO Y SEPARACION*/
.inicio-background {
  background: linear-gradient(0deg, #5F5B5B, 7%, transparent, 15%, transparent), url(../img/fondos/inicio-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 106.9rem;
  width: 100%;
}

/* MAIN; INICIO: BIGBANG */
.bigbangtextContainer {
  height: 100%;
  width: 88rem;
}

.bigbang-img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* INICIO ; SISTEMA SOLAR */
.sistema-solar-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .inicio-h {
    width: 30rem;
  }
  .inicio-background {
    height: 25rem;
  }
}
/* PLANETAS */
.planetas-main {
  background-color: black;
  height: 100%;
  width: 100%;
  padding-bottom: 16rem;
}

.planetas-background {
  background-image: url(../img/fondos/planetasfondo1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  height: 144rem;
  width: 100%;
}

.planetas-h { /* rgb(242, 242, 181) 137, 100, 13 */
  color: rgb(228, 104, 2);
  text-shadow: rgb(228, 104, 2) 1px 1px 10px;
  border: 0.2rem outset rgb(228, 104, 2);
  width: 63rem;
}

.planetas-indice-desc-container {
  margin-top: -89rem;
}

/* PLANETAS ; INICIO DE LA PAGINA */
.planetasInicioItem {
  list-style: none;
}

/* PLANETAS ; TEXTO */
.planetas-description-item {
  padding: 5rem 10rem;
}

.planetasdescriptionContainer {
  background-color: rgba(175, 165, 25, 0.2235294118);
  border: 0.1rem outset #cac005;
  border-radius: 3.2rem;
  padding: 3.2rem 4.8rem;
}

/* INDICE */
.planetasInicioUl {
  display: flex;
}

.indiceContainer {
  background-image: url(../img/cohete.png);
  background-size: 16rem;
  background-position-x: center;
  background-position-y: center;
  box-sizing: border-box;
  margin-top: -19.2rem;
  margin-left: 8rem;
  padding-top: 8rem;
  width: 16rem;
  height: 86.4rem;
}

.indicePlanetasOl {
  background-color: rgba(255, 255, 255, 0.168);
  border-radius: 1.6rem;
  margin-top: 10.24rem;
  margin-left: 1.6rem;
  padding: 0.48rem 1.6rem;
  width: 11.2rem;
}

.indicePlanetasItem {
  border-radius: 1.6rem;
  text-align: center;
  list-style: none;
  margin: 2.4rem 0rem;
}

.indicePlaneta {
  font-family: "Roboto";
  padding: 0.2rem;
  font-size: 2.08rem;
  text-decoration: none;
  font-weight: 600;
  color: #fffbfb;
}

.indicePlanetasItem:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
  border-style: ridge;
  border-width: 0.32rem;
}

/* PLANETAS ; COLORES */
.color-mercurio {
  background-color: rgba(117, 69, 69, 0.4470588235);
  border: 0.2rem solid #742626;
}

.color-venus {
  background-color: rgba(255, 130, 81, 0.431372549);
  border: 0.2rem solid #ff6624;
}

.color-tierra {
  background-color: rgba(61, 139, 247, 0.4078431373);
  border: 0.2rem solid #72bb53;
}

.color-marte {
  background-color: rgba(198, 100, 61, 0.4274509804);
  border: 0.2rem solid #aa532e;
}

.color-jupiter {
  background-color: rgba(224, 180, 127, 0.3921568627);
  border: 0.2rem solid #b09250;
}

.color-saturno {
  background-color: rgba(227, 197, 115, 0.4156862745);
  border: 0.2rem solid #d4b952;
}

.color-urano {
  background-color: rgba(142, 170, 210, 0.4078431373);
  border: 0.2rem solid #6b8689;
}

.color-neptuno {
  background-color: rgba(90, 108, 207, 0.3921568627);
  border: 0.2rem solid #163d8a;
}

.color-pluton {
  background-color: rgba(172, 181, 194, 0.4196078431);
  border: 0.2rem solid #b7ddf3;
}

/* PLANETAS ; CONTENEDORES DE CADA PLANETA */
.planeta-detallados-container {
  margin-top: 16rem;
  border-radius: 1.6rem;
}

.planetas-info-container {
  padding: 1.6rem;
}

/* PLANETAS ; IMAGENES DE CADA PLANETA */
.planetas-icon-container {
  padding: 1rem;
}

.planetas-icon-img {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: white;
}

@media screen and (max-width: 1200px) {
  .planetas-h {
    width: 53rem;
  }
  .planetasInicioUl {
    flex-direction: column-reverse;
  }
  .indiceContainer {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .planetas-indice-item {
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .planetas-h {
    width: 25rem;
  }
  .planetas-description-item {
    padding: 5rem 2rem;
  }
  .planetasdescriptionContainer {
    padding: 1.8rem 2rem;
  }
  .planetas-indice-desc-container {
    margin-top: -125rem;
  }
}
.color-andromeda {
  color: white;
  border-color: white;
}

.color-planeta-de-diamante {
  color: #b5f1f7;
  border-color: #b5f1f7;
}

.color-quasar {
  color: #f7b5f6;
  border-color: #f7b5f6;
}

/* OBSERVATORIO */
.obsmain {
  background-color: #5F5B5B;
  height: 100%;
  padding-bottom: 10rem;
  overflow: hidden;
}

.observatorio-background {
  background: linear-gradient(0deg, #5F5B5B, 7%, transparent, 15%, transparent), url(../img/fondos/obs-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80.6rem;
  width: 100%;
}

.observatorio-h {
  color: rgb(232, 181, 242);
  text-shadow: rgb(232, 181, 242) 1px 1px 10px;
  border: 0.2rem outset rgb(232, 181, 242);
  width: 84rem;
}

/* TITULO Y DESCRIPCION*/
.observatorio-description-h {
  color: rgb(248, 181, 254);
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

/* GALERIA */
.observatorio-galeria {
  margin-top: 5rem;
}

.galeria-item {
  padding: 0 4rem 4rem 4rem;
}

.galeria-card {
  background-color: #313133;
  border: 1px solid;
  border-radius: 1.5rem;
}

.galeria-card:hover {
  background-color: #1e1e1f;
  scale: 120%;
  transition: 0.5s;
}

/* GALERIA TUTLOS */
.galeria-h-container {
  background-color: #3f3f40;
  height: 5rem;
  border-radius: 1.5rem; /* 
border-bottom: 1px solid rgb(255, 255, 255); */
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.galeria-h {
  font-size: 2rem;
}

/* COLORES */
/* .color-andromeda{
    color: white;
    border-color: white;
}

.color-planeta-de-diamante{
    color: #b5f1f7;
    border-color: #b5f1f7;
}

.color-quasar{
    color: #f7b5f6;
    border-color: #f7b5f6;
} */
/* GALERIA IMAGENES */
.galeria-img-container {
  padding: 1rem;
}

.galeria-img {
  border-radius: 1.5rem;
}

@media screen and (max-width: 768px) {
  .observatorio-background {
    height: 21.7rem;
  }
  .observatorio-h {
    width: 30rem;
  }
  .observatorio-description-h {
    font-size: 3rem;
  }
}
/* EVENTOS */
.eventos-main {
  background-color: #5F5B5B;
  height: 100%;
  padding-bottom: 5rem;
}

.eventos-h {
  color: #e86794;
  text-shadow: #e86794 1px 1px 10px;
  border: 0.2rem outset #e86794;
  width: 63rem;
}

.eventos-h-container {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
}

.eventos-container {
  margin-top: 10rem;
}

.eventos-ul {
  background-image: url(../img/linea-eventos.png);
  background-repeat: repeat-y;
  background-position: center;
  height: 100% rem;
}

.eventos-item {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.eventos-descripcion-container {
  width: 30rem;
  height: 20rem;
  background-color: rgba(58, 56, 56, 0.404);
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin: 0rem 2.5rem;
}

.eventos-descripcion-h-container {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgba(58, 56, 56, 0.758);
  border-bottom: 1px solid gray;
  padding: 0.5rem 0 0.5rem 1rem;
}

.eventos-descripcion-p-container {
  padding: 1rem 1rem 0 1rem;
}

.eventos-h2 {
  color: rgb(237, 194, 194);
}

.eventos-h3 {
  color: lightcoral;
}

.eventos-p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.eventos-img-container {
  width: 35rem;
  height: 25rem;
  background-color: rgba(58, 56, 56, 0.404);
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.eventos-img {
  border-radius: 1rem;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .eventos-h {
    width: 25rem;
  }
  .eventos-ul {
    background-position: 15%;
    margin-left: 5rem;
  }
  .eventos-item {
    margin-bottom: 10rem;
    flex-direction: column;
    height: 60rem;
  }
}
@media screen and (max-width: 650px) {
  .eventos-ul {
    margin-left: -5rem;
  }
  .eventos-item {
    height: 60rem;
    align-items: flex-end;
  }
}
@media screen and (max-width: 400px) {
  .eventos-descripcion-container {
    width: 25rem;
    height: 20rem;
  }
  .eventos-img-container {
    width: 30rem;
    height: 25rem;
    background-color: rgba(58, 56, 56, 0.404);
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}
/* CONTACTOS */
.contacto-main {
  background-color: #5F5B5B;
  height: 100%;
  padding-bottom: 5rem;
}

.contacto-h {
  color: #67E88A;
  text-shadow: #67E88A 1px 1px 10px;
  border: 0.2rem outset #67E88A;
  width: 63rem;
}

.contacto-h-container {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
}

.contacto-form-container {
  margin-top: 5rem;
  padding: 0 20rem;
}

.contacto-form {
  padding: 1rem;
  background-color: #313133;
  border-radius: 1rem;
}

.form-item {
  margin-bottom: 5rem;
}

/* FORMULARIO */
.form-label {
  font-size: 2rem;
  color: white;
}

.form-campo {
  font-size: 1.7rem;
  background-color: #aaa;
  border: 0.2rem inset gainsboro;
  border-radius: 0.4rem;
  margin-top: 0.2rem;
  padding: 0rem 0.2rem;
  height: 3.5rem;
  width: 25rem;
}

.form-label-opinion {
  font-size: 2.5rem;
  color: white;
}

.form-campo-opinion {
  resize: none;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  margin-top: 0.2rem;
  height: 16rem;
  width: 50rem;
}

.form-boton {
  background-color: #82e99a;
  border: 0.2rem outset lightgreen;
  border-radius: 0.9rem;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 3.5rem;
  width: 17rem;
  font-size: 1.7rem;
}

.form-boton:hover {
  background-color: #57af6c;
  border: 0.2rem outset lightgreen;
}

option {
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  .contacto-h {
    width: 25rem;
  }
  .contacto-form-container {
    padding: 0 0rem;
  }
  .form-campo-opinion {
    width: 100%;
  }
}
.pruebas-main {
  height: 100rem;
  background-color: gray;
}

.pruebaflex {
  padding-top: 20rem;
  display: flex;
  justify-content: space-around;
}

.pruebaul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/*# sourceMappingURL=estilos.css.map */
