/* CONTACTO */

.contacto-h{ /* TITULO */
    color: #2c6bff;
    text-shadow: #2c6bff 1px 1px 10px;
    top: 40%; 
}

/* CONTACTO ; FORMULARIO */

.contacto-container{ /* CONTENEDOR */
    margin-top: 10rem;
}

.contacto-ul{ /* UL */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-antena-img{ /* IMAGEN DE LA ANTENA */
    filter: drop-shadow(10px 5px 10px white);
}

.contacto-form-container{ /* CONTENEDOR DEL FORMULARIO */
    display: flex;
    justify-content: center;
}

.contacto-form{ /* FORMULARIO */
    background-color: #393838;
    box-shadow:
        0px 0px 30px black,
        0px 5px 10px rgb(39, 39, 39),
        -25px 25px 1px rgb(20, 19, 20),
        -50px 50px 1px rgb(184, 183, 184);
    border-radius: 1rem;
    padding: 1rem;
    width: 60rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.form-ul{ /* UL */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.form-item { /* ITEM DE CADA CAMPO */
    margin-bottom: 5rem;
    width: 28rem;
}

.form-label{ /* TITULO */
    position: relative;
    width: 0px;
    left: -24rem;
    top: 0;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 236, 255);
    transition: 0.2s transform;
}

.form-campo{ /* CAMPO */
    background-color: #393838;
    border: none;
    border-bottom: 0.2rem solid rgb(253, 91, 91);
    border-radius: 0.4rem;
    font-size: 1.7rem;
    color: white;
    height: 3.5rem;
    width: 24rem;
    padding: 0rem 0.2rem;
    transition: border-bottom 0.5s;

    &:focus:not(select) + .form-label, &:not(:placeholder-shown):not(select) + .form-label{ /* ANIMACION CUANDO DEL TITULO CUANDO ALGUIEN SELECCIONA EL CAMPO O HAY ALGO ESCRITO */
        transform: translateY(-3rem) scale(1.1);
        transform-origin: left;
    }

    &:focus{ /* CAMPO CUANDO ESTA SELECCIONADO */
        outline: none;
        border-bottom: 0.2rem solid rgb(99, 227, 172);
        transition: 0.5s;
    }

    &:not(:placeholder-shown){ /* CAMPO CUANDO HAY ALGO ESCRITO */
        border-bottom: 0.2rem solid rgb(13, 167, 129);
    }
}


/* CONTACTO ; FORMULARIO ; PAIS */

.form-campo-select{ /* CAMPO */
    @extend .form-campo;
    
    &:not(:invalid) + .form-label{
        transform: translateY(-3rem) scale(1.1);
        transform-origin: left;
    }

    &:invalid{
        border-bottom: 0.2rem solid rgb(253, 91, 91);
    }

    &:focus-visible{
        border-bottom: 0.2rem solid rgb(99, 227, 172);
    }
}

option{ /* OPCIONES */
    background-color: #302e2e;
    font-size: 1.7rem;
}

/* CONTACTO ; FORMULARIO ; OPINION */

.form-label-opinion{ /* TITULO */
    font-size: 2.5rem;
    color: white;
}

.form-campo-opinion{ /* CAMPO */
    background-color: #302e2e;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.7rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
    height: 16rem; 
    width: 50rem;
    resize: none;
}

/* CONTACTO ; FORMULARIO ; BOTONES */ 

.form-boton{ /* BOTONES */
    background-color: #828181;
    border: none;
    border-radius: 0.7rem;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3.5rem;
    padding: 0 3rem;
    font-size: 1.7rem;

    &:hover{
        transform: scale(1.1);
        transition: transform 0.1s;
    }
    
    &:hover:nth-child(1){ /* BOTON DE ENVIAR */
        background-color: #82e99a;
        box-shadow: 0px 0px 10px #82e99a;
    }
    
    &:active:nth-child(1){ /* BOTON DE ENVIAR */
        background-color: #a3f4b6;
        box-shadow: 0px 0px 10px #a3f4b6;
    }
    
    &:hover:nth-child(2){ /* BOTON DE BORRAR */
        background-color: #e98282;
        box-shadow: 0px 0px 10px #e98282;
    }
    
    &:active:nth-child(2){ /* BOTON DE BORRAR */
        background-color: #f29b9b;
        box-shadow: 0px 0px 10px #f29b9b;
    }
    
}

/* CONTACTO ; MEDIA QUERYS */

@media screen and (min-width: 1025px) and (max-width: 1130px) {
    .contacto-form{
        width: 50rem;
    }

    .form-ul{
        flex-direction: column;
        align-items: center;
    }

    .form-campo-opinion{
        width: 40rem;
    }
}

@media screen and (max-width: 1024px){
    .contacto-antena-img{
        display: none;
    }
} 

@media screen and (max-width: 680px){
    .contacto-form-container{
        width: 100%;
    }

    .contacto-form{
        margin-left: 0;
        box-shadow: none;
        box-shadow: 0px 0px 30px black;
    }

    .form-ul{
        flex-direction: column;
        align-items: center;
    }

    .form-campo-opinion{
        width: 40rem;
    }
}

@media screen and (max-width: 480px){
    .form-campo-opinion{
        width: 30rem;
    }
}