/* CONTACTOS */


.contactomain{
    background-color: #5F5B5B;
    height: 43rem;
}

.contacta_h{
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    color: #67E88A;
}

.contacta_p{
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
}

/* FORMULARIO */

.form{
    margin-top: 1rem;
    margin-right:16rem;
    margin-left:16rem;
    padding: 1rem;
    text-align: center;
}

.formdiv{
    height: 5rem;
}

.formFirstLineItem{
    display: inline-block;
    width: 30%;
    height: 6rem;
}

.formlabels{
    font-size: 1rem;
    color: white;
}

.formcampos{
    background-color: #aaa;
    border-radius: 0.4rem;
    border-color: gainsboro;
    border: 0.2rem inset gainsboro;
    height: 2rem;
    width: 15rem;
    padding: 0rem 0.2rem;
    margin-top: 0.2rem;
}

.formlabelopinion{
    font-size: 1.5rem;
    color: white;
}

.formcampoopinion{
    background-color: #aaa;
    border-radius: 0.4rem;
    border: 0.2rem inset gainsboro;
    resize: none;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    margin-top: 0.2rem;
    height: 6rem;
    width: 35rem;
}

.formbottom{
    background-color: #82e99a;
    border: 0.2rem outset lightgreen;
    border-radius: 0.9rem;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 1.5rem;
    width: 7rem;
}

.formbottom:hover{
    background-color: #57af6c;
    border: 0.2rem outset lightgreen;
}