/* CONTACTOS */

.contacto-main{
    background-color: #5F5B5B;
    height: 100%;
    padding-bottom: 5rem;
}

.contacto-h{
    color: #2cfff8;
    text-shadow: 1px 1px 10px;
    top: 40%; 
}

.contacto-h-container{
    padding-top: 15rem;
    display: flex;
    justify-content: center;
}

/* FORMULARIO */

.contacto-container{
    margin-top: 10rem;
}

.contacto-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* IMAGEN */

.contacto-antena-img{
    filter: drop-shadow(10px 5px 10px white);
}

/* FORMULARIO */

.contacto-form-container{
    display: flex;
    justify-content: center;
}

.contacto-form{
    background-color: #393838;
    box-shadow:
        0px 0px 30px black,
        0px 5px 10px rgb(39, 39, 39),
        -25px 25px 1px rgb(20, 19, 20),
        -50px 50px 1px rgb(184, 183, 184);
    border-radius: 1rem;
    padding: 1rem;
    width: 60rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.form-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.form-item {
    margin-bottom: 5rem;
    width: 28rem;
}

/* FORMULARIO */

.form-label{
    position: relative;
    width: 0px;
    left: -24rem;
    top: 0;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 236, 255);
    transition: 0.2s transform;
}

.form-campo{
    background-color: #393838;
    border: none;
    border-bottom: 0.2rem solid rgb(253, 91, 91);
    border-radius: 0.4rem;
    font-size: 1.7rem;
    color: white;
    height: 3.5rem;
    width: 24rem;
    padding: 0rem 0.2rem;
    transition: border-bottom 0.5s;
}

/* ANIMACION */

.form-campo:focus:not(select) + .form-label, .form-campo:not(:placeholder-shown):not(select) + .form-label{
    transform: translateY(-3rem) scale(1.1);
    transform-origin: left;
}

/* CAMPO CUANDO ESTA SELECCIONADO */

.form-campo:focus{
    outline: none;
    border-bottom: 0.2rem solid rgb(99, 227, 172);
    transition: 0.5s;
}

/* CAMPO CUANDO HAY ALGO ESCRITO */

.form-campo:not(:placeholder-shown){
    border-bottom: 0.2rem solid rgb(13, 167, 129);
}

/* PAIS */

.form-campo-select{
    @extend .form-campo;
}

.form-campo-select:not(:invalid) + .form-label{
    transform: translateY(-3rem) scale(1.1);
    transform-origin: left;
}

.form-campo-select:invalid{
    border-bottom: 0.2rem solid rgb(253, 91, 91);
}

.form-campo-select:focus-visible{
    border-bottom: 0.2rem solid rgb(99, 227, 172);
}

option {
    background-color: #302e2e;
    font-size: 1.7rem;
}

option:hover{
    color: red;
}

/* OPINION */

.form-label-opinion{
    font-size: 2.5rem;
    color: white;
}

.form-campo-opinion{
    background-color: #302e2e;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.7rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
    height: 16rem; 
    width: 50rem;
    resize: none;
}

/* BOTONES */

.form-boton{
    background-color: #828181;
    border: none;
    border-radius: 0.7rem;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3.5rem;
    padding: 0 3rem;
    font-size: 1.7rem;
}

.form-boton:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
}

.form-boton:hover:nth-child(1){
    background-color: #82e99a;
    box-shadow: 0px 0px 10px #82e99a;
}

.form-boton:active:nth-child(1){
    background-color: #a3f4b6;
    box-shadow: 0px 0px 10px #a3f4b6;
}

.form-boton:hover:nth-child(2){
    background-color: #e98282;
    box-shadow: 0px 0px 10px #e98282;
}

.form-boton:active:nth-child(2){
    background-color: #f29b9b;
    box-shadow: 0px 0px 10px #f29b9b;
}


@media screen and (min-width: 1025px) and (max-width: 1130px) {
    .contacto-form{
        width: 50rem;
    }

    .form-ul{
        flex-direction: column;
        align-items: center;
    }

    .form-campo-opinion{
        width: 40rem;
    }
}

@media screen and (max-width: 1024px){
    .contacto-antena-img{
        display: none;
    }
} 

@media screen and (max-width: 680px){
    .contacto-form-container{
        width: 100%;
    }

    .contacto-form{
        margin-left: 0;
        box-shadow: none;
        box-shadow: 0px 0px 30px black;
    }

    .form-ul{
        flex-direction: column;
        align-items: center;
    }

    .form-campo-opinion{
        width: 40rem;
    }
}

@media screen and (max-width: 480px){
    .form-campo-opinion{
        width: 30rem;
    }
}