/* EVENTOS */

/* EVENTOS INICIO */

.eventos-main{
    background-color: #5F5B5B;
    height: 100%;
    padding-bottom: 5rem;
}

.eventos-h{
    color: #e86794;
    text-shadow: #e86794 1px 1px 10px;
    top: 40%; 
}

.eventos-h-container{
    padding-top: 15rem;
    display: flex;
    justify-content: center;
}

/* EVENTOS LISTA DE EVENTOS */

.eventos-container{
    margin-top: 10rem;
}

.eventos-ul{
    background-image: url(../img/linea-eventos.png);
    background-repeat: repeat-y;
    background-position: center;
    height: 100%rem;
}

.eventos-item{
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* CONTENEDOR */

.eventos-descripcion-container{
    width: 30rem;
    height: 20rem;
    background-color: rgba(58, 56, 56, 0.404);
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin: 0rem 2.5rem;
}

.eventos-descripcion-h-container{
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: rgba(58, 56, 56, 0.758);
    border-bottom: 1px solid gray;
    padding: 0.5rem 0 0.5rem 1rem;
}

.eventos-descripcion-p-container{
    padding: 1rem 1rem 0 1rem;
}

.eventos-h2{
    color: rgb(237, 194, 194);
}

.eventos-h3{
    color: lightcoral;
}

.eventos-p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.eventos-img-container{
    background-color: rgba(58, 56, 56, 0.404);
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 35rem;
    height: 25rem;
}

.eventos-img{
    border-radius: 1rem;
    height: 100%;
    max-height: 100%;
    object-position: cover;
}

@media screen and (max-width: 768px){
    .eventos-h{
        width: 25rem;
    }

    .eventos-ul{
        background-position: 15%;
        margin-left: 5rem;
    }

    
    .eventos-item{
        margin-bottom: 10rem;
        flex-direction: column;
        height: 60rem;
    }
} 

@media screen and (max-width: 650px){
    .eventos-ul{
        margin-left: -5rem;
    }
    
    .eventos-item{
        height: 60rem;
        align-items: flex-end;
    }
} 
@media screen and (max-width: 400px){
    .eventos-descripcion-container{
        width: 25rem;
        height: 20rem;
    }
    
    .eventos-img-container{
        width: 30rem;
        height: 25rem;
        background-color: rgba(58, 56, 56, 0.404);
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 1rem;
    }
} 