/* EVENTOS */

.eventos-main{
    background-color: #5F5B5B;
    height: 100%;
    padding-bottom: 5rem;
}

.eventos-h{
    color: #e86794;
    text-shadow: #e86794 1px 1px 10px;
    border: 0.2rem outset #e86794;
    width: 63rem;
}

.eventos-h-container{
    padding-top: 15rem;
    display: flex;
    justify-content: center;
}

.eventos-container{
    margin-top: 10rem;
}

.eventos-ul{
    background-image: url(../img/linea-eventos.png);
    background-repeat: repeat-y;
    background-position: center;
    height: 200rem;
}

.eventos-item{
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
}

.eventos-descripcion-container{
    width: 30rem;
    height: 20rem;
    background-color: rgba(58, 56, 56, 0.404);
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}

.eventos-h2{
    color: rgb(236, 218, 218);
}

.eventos-h3{
    color: lightcoral;
}

.eventos-p{
    color: lightcyan;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.eventos-img-container{
    width: 35rem;
    height: 25rem;
    background-color: rgba(58, 56, 56, 0.404);
    border: 1px solid gray;
    border-radius: 0.5rem;
}