/* OBSERVATORIO */

.observatorio-h{ /* TITULO */
    color: rgb(232, 181, 242);
    text-shadow: rgb(232, 181, 242) 1px 1px 10px;
    top: 40%; 
}

/* OBSERVATORIO ; TITULO Y DESCRIPCION*/

.observatorio-description-h{ /* TITULO DE LA DESCRIPCION */
    color: rgb(248, 181, 254);
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

/* OBSERVATORIO ; GALERIA */

.observatorio-galeria{ /* GALERIA */
    margin-top: 5rem;
}

.galeria-item{ /* ITEM DE LA GALERIA */
    padding: 0 4rem 4rem 4rem;
}

.galeria-card{ /* CARDS */
    background-color: #313133;
    border: 1px solid;
    border-radius: 1.5rem;
    transition: scale 0.5s;

    &:hover{
        background-color: #1e1e1f;
        scale: 120%;
    }
}

.galeria-h-container{ /* CONTENEDOR DE LOS TITULOS */
    background-color: #3f3f40;
    height: 5rem;
    border-radius: 1.5rem;
    padding-top: 1.4rem;
    margin-bottom: 1rem;
}

.galeria-h{ /* TITULO */
    font-size: clamp(1.5rem, 3vw, 1.9rem);
}

.galeria-img-container{ /* CONTENEDOR DE LAS IMAGENES */
    padding: 1rem;
}

.galeria-img{ /* IMAGEN */
    border-radius: 1.5rem;
}

/* OBSERVATORIO ; COLORES */

$galeria-cards:( /* COLORES */
    color-andromeda: white,
    color-planeta-de-diamante: #b5f1f7,
    color-quasar: #f7b5f6,
    color-uy-scuty: rgb(165, 39, 17),
    color-psr: rgb(1, 0, 34),
    color-nebulosa-cangrejo: rgb(219, 199, 101),
    color-messier: rgb(24, 14, 0),
    color-nube-smith: rgb(96, 18, 41)
);

@each $galeria-cards-colors, $color in $galeria-cards { /* COLOR DE LAS CARDS */
    .#{$galeria-cards-colors}{
        color: $color;
        border-color: $color;
    }
}

/* OBSERVATORIO ; MEDIA QUERYS */

@media screen and (max-width: 768px){
    .observatorio-description-h{
        font-size: 3rem;
    }

    .galeria-card:hover{
        background-color: #313133;
        scale: unset;
    }
    
} 