/* OBSERVATORIO */

.obsmain{
    background-color: #5F5B5B;
    height: 100%;
    padding-bottom: 10rem;

}

.observatorio-background{
    background:
        linear-gradient(0deg,#5F5B5B, 7%, transparent, 15%, transparent),
        url(../img/obs-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80.6rem;
    width: 100%;
}

.observatorio-h{
    color: rgb(232, 181, 242);
    text-shadow: rgb(232, 181, 242) 1px 1px 10px;
    border: 0.2rem outset rgb(232, 181, 242);
    width: 84rem;
}

/* TITULO Y DESCRIPCION*/

.observatorio-description-h{
    color: rgb(248, 181, 254);
    font-size: 5rem;
    margin-bottom: 1.5rem;
}


/* GALERIA */

.observatorio-galeria{
    margin-top: 5rem;
}

.galeria-item{
    padding: 0 4rem 4rem 4rem;
}

.galeria-card{
    background-color: #313133;
    border: 1px solid;
    border-radius: 1.5rem;
}

/* GALERIA TUTLOS */

.galeria-h-container{
    background-color: #3f3f40;
    height: 5rem;
    border-radius: 1.5rem;/* 
    border-bottom: 1px solid rgb(255, 255, 255); */
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.galeria-h{
    font-size: 2.0rem;
}

/* COLORES */

.color-andromeda{
    color: white;
    border-color: white;
}

.color-planeta-de-diamante{
    color: #b5f1f7;
    border-color: #b5f1f7;
}

.color-quasar{
    color: #f7b5f6;
    border-color: #f7b5f6;
}


/* GALERIA IMAGENES */

.galeria-img-container{
    padding: 1rem;
}

.galeria-img{
    border-radius: 1.5rem;
}


@media screen and (max-width: 768px){
    .observatorio-background{
        height: 21.7rem;
    }

    .observatorio-h{
        width: 30rem;
    }

    .observatorio-description-h{
        font-size: 3rem;
    }
} 