/* PLANETAS */

/* PLANETAS INICIO */

.planetas-main{
    background-color: black;
    height: 100%;
    width: 100%;
    padding-bottom: 16rem;
}

.planetas-h-container{
    display: flex;
    justify-content: center;
}

.planetas-h{
    color: rgb(205, 228, 2);
    text-shadow: rgb(205, 228, 2) 1px 1px 10px;
    top: 50%; 
}

.planetas-background-image{
    position: absolute;
}

/* PLANETAS INDICE Y DESCRIPCION */

.planetas-indice-desc-container{
    position: relative;
    margin-top: 60rem;
}

.planetasInicioItem {
    list-style: none;
}

/* PLANETAS ; DESCRIPCION */

.planetas-description-item{
    padding: 5rem 10rem;
}

.planetasdescriptionContainer{
    background-color: #afa51939;
    border: 0.1rem outset #cac005;
    box-shadow: 
        inset 0px 0px 10px #cac005,
        0px 0px 10px #cac005;
    border-radius: 3.2rem;
    padding: 3.2rem 4.8rem;
}

/* INDICE */

.planetasInicioUl{
    display: flex;
}

.indiceContainer{
    background-image: url(../img/cohete.png);
    background-size: 16rem;
    background-position-x: center;
    background-position-y: center;
    margin-top: -19.2rem;
    margin-left: 8rem;
    padding-top: 8rem;
    width: 16rem;
    height: 86.4rem;
    animation-name: despegue;
    animation-duration: 1s;
}

@keyframes despegue { /* ANIMACION DEL DESPEGUE DEL COHETE */
    from{
        transform: translateY(20rem);
    }

    to{
        transform: translateY(0px);
    }
}

.indicePlanetasOl{
    background-color: rgba(255, 255, 255, 0.168);
    border-radius: 1.6rem;
    margin-top: 10.24rem;
    margin-left: 1.6rem;
    padding: 0.48rem 1.6rem;
    width: 14rem;
    box-shadow:inset 0px 0px 10px white;
}

.indicePlanetasItem{
    border-radius: 1.6rem;
    text-align: center;
    list-style: none;
    margin: 2.4rem 0rem;
}

.indicePlaneta{
    font-family: 'Raleways' ;
    padding: 0.2rem;
    font-size: 2.08rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 8px black;
}

.indicePlanetasItem:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
    border-style:ridge;
    border-width: 0.32rem;
}

/* PLANETAS ; COLORES */

$planetas-colores:(
    "color-mercurio" #75454572 #742626,
    "color-venus" #ff82516e #ff6624,
    "color-tierra" #3d8bf768 #72bb53,
    "color-marte" #c6643d6d #aa532e,
    "color-jupiter" #e0b47f64 #b09250,
    "color-saturno" #e3c5736a #d4b952,
    "color-urano" #8eaad268 #6b8689,
    "color-neptuno" #5a6ccf64 #163d8a,
    "color-pluton" #fdfdfd6b #cee8f7
);

@each $planeta, $background-color, $border-color in $planetas-colores{
    .#{$planeta}{
        background-color: $background-color;
        border-color: $border-color;
        border-width: 0.2rem;
        border-style: solid;
    }
    .planeta-detallados-container.#{$planeta}{
        box-shadow: 0px 0px 50px $border-color;
    }
}

/* PLANETAS ; CONTENEDORES DE CADA PLANETA */

.planeta-detallados-container{
    margin-top: 16rem;
    border-radius: 1.6rem;
}

.planetas-info-container{
    padding: 1.6rem;
}


/* PLANETAS ; IMAGENES DE CADA PLANETA */

.planetas-icon-container{
    padding: 1rem;
}

.planetas-icon-img{
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    color: white;
}



@media screen and (max-width: 1200px){
    .planetas-h{
        width: 53rem;
    }

    .planetasInicioUl{
        flex-direction: column-reverse;
    }

    .indiceContainer{
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .planetas-indice-item{
        align-self: center;
    }
} 


@media screen and (max-width: 768px){
    .planetas-h{
        width: 25rem;
    }

    .planetas-description-item{
        padding: 1rem;
    }

    .planetasdescriptionContainer{
        padding: 1.8rem 2rem;
    }
} 