/* PLANETAS */

.planetas-main{ /* MAIN */
    height: 100%;
    overflow: hidden;
    background-color: black;
    padding-bottom: 16rem;
}

.planetas-h-container{ /* CONTENEDOR DEL TITULO */
    display: flex;
    justify-content: center;
}

.planetas-h{ /* TITULO */
    color: rgb(205,228,2);
    text-shadow: rgb(205,228,2) 1px 1px 10px;
    margin-top: 25%; 
}

.planetas-background-image{ /* BACKGROUND */
    position: absolute;
}

/* PLANETAS INDICE Y DESCRIPCION */

.planetas-inicio-container{ /* CONTENEDOR */
    position: relative;
    margin-top: 20%;
}

.planetas-inicio-ul{ /* UL */
    display: flex;
    align-items: center;
}


/* PLANETAS ; DESCRIPCION */

.planetas-inicio-description-item{ /* ITEM DE DESCRIPCION */
    padding: 5rem 10rem;
}

.planetas-description-container{ /* CONTENEDOR DE DESCRIPCION */
    background-color: #afa51939;
    border: 0.1rem outset #cac005;
    box-shadow: 
        inset 0px 0px 10px #cac005,
        0px 0px 10px #cac005;
    border-radius: 3.2rem;
    padding: 3.2rem 4.8rem;
}

/* PLANETAS ; INDICE */

.planetas-inicio-indice-item{  /* ITEM DE INDICE */
    background-image: url(../img/cohete.png);
    background-size: 100%;
    margin-left: 8rem;
    margin-top: 16rem;
    width: 16rem;
    height: 86.4rem;
    animation-name: despegue;
    animation-duration: 1s;
}

@keyframes despegue { /* ANIMACION DEL DESPEGUE DEL COHETE */
    from{
        transform: translateY(20rem);
    }

    to{
        transform: translateY(0px);
    }
}

.planetas-indice-ol{ /* INDICE */
    background-color: rgba(255, 255, 255, 0.168);
    border-radius: 1.6rem;
    margin-top: 10.24rem;
    margin-left: 1.6rem;
    padding: 0.48rem 1.6rem;
    width: 14rem;
    box-shadow:inset 0px 0px 10px white;
}

.planetas-indice-item{ /* ITEMS DEL INDICE */
    border-radius: 1.6rem;
    text-align: center;
    list-style: none;
    margin: 2.4rem 0rem;

    &:hover{ /* HOVER DE LOS ITEMS */
        transform: scale(1.2);
        transition-duration: 0.2s;
        border-style:ridge;
        border-width: 0.32rem;
    }
}

.planetas-indice-a{ /* LINKS DEL INDICE */
    font-family: 'Raleways';
    font-size: 2.08rem;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.44);
    text-shadow: 0px 0px 8px black;
    padding: 0.2rem;
}

/* PLANETAS ; COLORES */

$planetas-colores:( /* COLORES */
    "color-mercurio" #75454572 #742626,
    "color-venus" #ff82516e #ff6624,
    "color-tierra" #3d8bf768 #72bb53,
    "color-marte" #c6643d6d #aa532e,
    "color-jupiter" #e0b47f64 #b09250,
    "color-saturno" #e3c5736a #d4b952,
    "color-urano" #8eaad268 #6b8689,
    "color-neptuno" #5a6ccf64 #163d8a,
    "color-pluton" #fdfdfd6b #cee8f7
);

@each $planeta, $background-color, $border-color in $planetas-colores{ /* COLORES DE CADA ELEMENTO RESPECTIVO AL PLANETA */
    .planetas-main .#{$planeta}{ /* COLORES DE CADA PLANETA */
        background-color: $background-color;
        border-color: $border-color;
        border-width: 0.2rem;
        border-style: solid;
    }

    .planetas-indice-item.#{$planeta} .planetas-indice-a{ /* EFECTO DE COLOR DE LOS TEXTOS DE CADA PLANETA EN INDICE */
        text-shadow: 1px 1px $border-color;
    }

    .planeta-detallados-container.#{$planeta}{ /* SOMBRA DE LOS CONTENEDORES DE CADA PLANETA */
        box-shadow: 0px 0px 50px $border-color;
    }

    .modal-content.#{$planeta}{ /* COLOR DE LOS MODALES DE CADA PLANETA */
        box-shadow: 0px 0px 50px $border-color;
    }

    .planeta-detallados-container.#{$planeta} .planetas-boton-leer-mas{ /* COLOR DEL BOTON DE LEER MAS DE CADA PLANETA */
        text-shadow: 1px 1px $border-color;
        border: 1px solid $border-color;
        border-radius: 1rem;
    }

    .#{$planeta}::before{ /* COLOR DE LOS PLANETAS EN EL SISTEMA SOLAR */
        background-color: $background-color;
        border-color: $border-color;
        border-width: 0.2rem;
        border-style: solid;
        box-shadow: 0px 0px 50px $border-color, 0px 0px 20px $border-color;
    }
}

/* PLANETAS ; CONTENEDORES DE CADA PLANETA DESKTOP */

.planeta-detallados-container{ /* CONTENEDOR DE CADA PLANETA */
    margin-top: 12rem;
    border-radius: 1.6rem;
}

.planetas-info-container{ /* CONTENEDOR DE LA INFORMACION DE LOS PLANETAS */
    padding: 1.6rem;
}

/* PLANETAS ; CONTENEDORES DE CADA PLANETA MOBILE */

.modal-content{ /* CONTENEDOR DE LOS MODALES */
    border-radius: 1rem;
    backdrop-filter: blur(15px);
}

.planetas-boton-leer-mas{ /* BOTON DE LEER MAS */
    background-color: rgba(0, 0, 0, 0.178);
    border: none;
    color: rgba(155, 155, 155, 0.462);
    padding: 0.1rem 0.6rem;

    &:hover{ /* HOVER DEL BOTOM */
        box-shadow: 0px 0px 10px currentColor;
    }
}

/* PLANETAS ; IMAGENES DE CADA PLANETA */

.planetas-icon-container{ /* CONTENEDOR DE LA IMAGEN DE LOS PLANETAS */
    padding: 1rem;
}

.planetas-icon-img{ /* IMAGEN DEL PLANETA */
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    color: white;
}

/* PLANETAS ; MEDIA QUERYS */

@media screen and (max-width: 1200px){
    .planetas-inicio-container{
        margin-top: 40%;
    }

    .planetas-inicio-ul{
        flex-direction: column-reverse;
    }

    .planetas-inicio-indice-item{
        align-self: center;
        margin-top: 0rem;
        margin-left: 0rem;
    }
} 

@media screen and (max-width: 768px){
    .planetas-inicio-description-item{
        padding: 1rem;
    }

    .planetas-description-container{
        padding: 1.8rem 2rem;
    }
}

@media screen and (min-width: 576px){
    .planeta-text-desktop{
        display: block;
    }

    .planeta-text-mobile{
        display: none;
    }
} 

@media screen and (max-width: 576px){
    .planeta-text-desktop{
        display: none;
    }
    
    .planeta-text-mobile{
        display: block;
    }
} 
