.pruebas-main{
    height: 100rem;
    background-color: gray;
    padding-top: 20rem;
    overflow: hidden;
}

.pruebaflex{
    padding-top: 20rem;
    display: flex;
    justify-content: space-around;

}

.pruebaul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.sistema-solar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100rem;
    background-color: black;
    overflow-y: hidden;
}

.sol{
    background: radial-gradient(circle, rgb(240,227,20) 0%, rgb(250,250,151) 91%);
    box-shadow: 0px 0px 100px rgb(250,250,151);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


@mixin planeta-info($distance, $size){
    left: $distance;
    width: $size;
    height: $size;
}


.mercurio{
    @include planeta-info(-8rem, 1.2rem);
}

.venus{
    @include planeta-info(11rem, 1.8rem);
}

.tierra{
    @include planeta-info(-17rem, 1.9rem);
    animation: orbita 15s linear infinite;
}

.luna{
    background-color: whitesmoke;
    @include planeta-info(3.5rem, 1rem);

}

.marte{
    @include planeta-info(24rem, 2rem);
}

.jupiter{
    box-shadow: 0px 0px 10px;
    @include planeta-info(-29rem, 3.5rem)
}

.saturno{
    @include planeta-info(35rem, 3.5rem)
}

.urano{
    @include planeta-info(-40rem, 2rem)
}

.neptuno{
    @include planeta-info(43rem, 1.5rem)
}

.pluton{
    @include planeta-info(-45rem, 1.5rem)
}

.planeta{
    position: absolute;/* 
    background-color: green; */
    animation: orbita linear infinite;
}

.planeta div{
    position: relative;
    top: 0rem;
    border-radius: 50%;
}

@for $planeta from 0 through 9 {
    .planeta:nth-child(#{$planeta}){
        animation-duration: 5s * $planeta + 8;
    }
}

@keyframes orbita {
    from{
        transform: rotate(360deg);
    }
}