.pruebas-main{
    height: 100rem;
    background-color: gray;
}

.pruebaflex{
  padding-top: 20rem;
  display: flex;
  justify-content: space-around;

}

.pruebaul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}