/* FOOTER */

.footer{
    background-color: #393838;
    height: 100%;
    width: 100%;
    padding: 3rem 0;
}

.footer-ul{
    display: flex;
    justify-content: space-evenly;
}

.footer-item{
    height: 9rem;
    background-color: #302e2e;
    border-radius: 1rem;
    padding: 0.5rem;
}

.footer-item-decoration{
    border-left: 0.1rem solid gray;
}


/* FOOTER ; SOBRE NOSOTROS*/

.footer-item-sobrenosotros{
    width: 30rem;
}

.footer-sobrenosotros-h{
    font-size: 2rem;
    color: #989494;
}

.footer-sobrenosotros-p{
    font-size: 1.3rem;
    color: #d3d3d3;
}

.footer-sobrenosotros-mini-p{
    font-size: 1rem;
}

/* FOOTER ; SUBIR A ARRIBA */

.footer-item-up{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-up-img{
    height: 4.5rem;
    width: 4rem;
}

.footer-up-img:hover{
    border: 0.1rem solid gray;
    border-radius: 1rem;
    transform: scale(1.5);
    transition-duration: 0.2s;
}

/* FOOTER; LOGO */

.footer-item-logo{
    width: 40.8rem;
}

.footer-logo-h{
    color: white;
    font-size: 3.5rem;
}

.footer-logo-img{
    height: 50%;
    width: 55%;
}

/* FOOTER ; DERECHOS */

.footer-item-derechos{
    width: 20rem;
    overflow: hidden;
    padding-left: 0.8rem;
}

.footer-derechos-div{
    height: 50%;
}

.footer-derechos-h{
    font-size: 1.5rem;
    color: #989494;
}

.footer-derechos-p{
    font-size: 1rem;
    color: white;
}

/* FOOTER ; REDES SOCIALES */

.footer-item-redes-sociales{
    width: 13rem;
}

.footer-redes-sociales-ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer-redes-sociales-item{
    list-style: none;
    width: 3rem;
}

.footer-redes-sociales-icon{
    height: 3.5rem;
    width: 3.5rem;
}

.footer-redes-sociales-icon:hover{
    filter:brightness(80%);
}

@media screen and (max-width: 1200px) {
    .footer-ul{
        flex-wrap: wrap;
    }

    .footer-item-sobrenosotros{
        order: 3;
        margin-top: 2rem;
    }

    .footer-item-derechos{
        order: 4;
        margin-top: 2rem;
    }

    .footer-item-logo{
        order: 1;
        margin: 0 30%;
    }

    .footer-item-up{
        order: 2;
        margin-top: 2rem;
    }

    .footer-item-redes-sociales{
        order: 5;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px){
    .footer{
        padding: 3rem 0 0 0;
    }

    .footer-escritorio{
        display: none;
    }

    .footer-celular{
        display: block;
    }

    .footer-item{
        margin-bottom: 4rem;
    }

    .footer-item-logo{
        width: 20.8rem;
    }

    .footer-logo-img{
        height: 50%;
        width: 40%;
        resize: auto;
    }

    .footer-celular-item-redes-sociales{
        display: flex;
        justify-content: center;
    }

    .footer-celular-div-redes-sociales{
        width: 15rem;
    }

    .footer-redes-sociales-ul{
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px){
    .footer-escritorio{
        display: block;
    }

    .footer-celular{
        display: none;
    }
}

@media screen and (max-width: 576px){
    .footer-logo-img{
        height: 50%;
        width: 60%;
    }
}
