/* FOOTER */

.footer{ /* FOOTER */
    background-color: #393838;
    height: 100%;
    width: 100%;
    padding: 3rem 0;
}

.footer-ul{ /* LISTA */
    display: flex;
    justify-content: space-evenly;
}

.footer-item{ /* SECCIONES DEL FOOTER */
    height: 9rem;
    background-color: #302e2e;
    border-radius: 1rem;
    padding: 0.5rem;
}

.footer-item-decoration{ /* RAYA LATERAL DE ALGUNAS SECCIONES */
    border-left: 0.1rem solid gray;
}

/* FOOTER ; SOBRE NOSOTROS*/

.footer-item-sobre-nosotros{ /* SECCION */
    width: 30rem;
}

.footer-sobre-nosotros-h{ /* TITULO */
    font-size: 2rem;
    color: #989494;
}

.footer-sobre-nosotros-p{ /* TEXTO */
    font-size: 1.3rem;
    color: #d3d3d3;
}

/* FOOTER ; SUBIR A ARRIBA */

.footer-item-up{ /* SECCION */
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-up-img{ /* FLECHA */
    height: 4.5rem;
    width: 4rem;
    transition-duration: 0.2s;

    &:hover{ /* HOVER */
        filter: drop-shadow(0px 0px 3px gray);
        border-radius: 1rem;
        transform: scale(1.5);
        transition-duration: 0.2s;
    }
}

/* FOOTER ; LOGO */

.footer-item-logo{ /* SECCION */
    width: 40.8rem;
}

.footer-logo-h{ /* TITULO */
    color: white;
    font-size: 3.5rem;
}

.footer-logo-img{ /* LOGO */
    height: 50%;
    width: 22rem;
}

/* FOOTER ; DESARROLLADOR Y DERECHOS */

.footer-item-derechos{ /* SECCION */
    width: 20rem;
    overflow: hidden;
    padding-left: 0.8rem;
}

.footer-derechos-div{ /* SECCION DE DERECHOS */
    height: 50%;
}

.footer-derechos-h{ /* TITULO */
    font-size: 1.5rem;
    color: #989494;
}

.footer-derechos-p{ /* TEXTO */
    font-size: 1rem;
    color: white;
}

/* FOOTER ; REDES SOCIALES */

.footer-item-redes-sociales{ /* SECCION */
    width: 13rem;
}

.footer-redes-sociales-ul{ /* REDES */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer-redes-sociales-item{ /* ITEMS DE LA REDES SOCIALES*/
    list-style: none;
    width: 3rem;
}

.footer-redes-sociales-icon{ /* ICONOS DE LA RED SOCIAL */
    height: 3.5rem;
    width: 3.5rem;

    &:hover{ /* HOVER */
        filter:brightness(80%);
    }
}

/* FOOTER ; MEDIA QUERYS */

@media screen and (max-width: 1200px) {
    .footer-ul{
        flex-wrap: wrap;
    }

    .footer-item-sobre-nosotros{
        order: 3;
        margin-top: 2rem;
    }

    .footer-item-derechos{
        order: 4;
        margin-top: 2rem;
    }

    .footer-item-logo{
        order: 1;
        margin: 0 30%;
    }

    .footer-item-up{
        order: 2;
        margin-top: 2rem;
    }

    .footer-item-redes-sociales{
        order: 5;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px){
    .footer{
        padding: 3rem 0 0 0;
    }

    .footer-escritorio{
        display: none;
    }

    .footer-celular{
        display: block;
    }

    .footer-item{
        margin-bottom: 4rem;
    }

    .footer-item-logo{
        width: 20.8rem;
    }

    .footer-celular-item-redes-sociales{
        display: flex;
        justify-content: center;
    }

    .footer-celular-div-redes-sociales{
        width: 15rem;
    }

    .footer-redes-sociales-ul{
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px){
    .footer-escritorio{
        display: block;
    }

    .footer-celular{
        display: none;
    }
}
