/* HEADER */
$height-navbar: 10.4rem;

.header{
    height: $height-navbar;
    width: 100%;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(3px);
}

.navbar{
    background-image: url(../img/header-footer/header.png);
    background-size: 100%;
    opacity: 85%;
    border-bottom: 0.1rem ridge rgb(118, 17, 17);
    width: 100%;
}

.navbar-container{
    height: $height-navbar;
    display: flex;
    justify-content: space-around;
}

.navheader{
    font-size: 4.8rem;
    color: white;
    height: calc($height-navbar / 2);
    padding-left: 1rem;
    transition: text-shadow 5s;
}

.navheader:hover{
    text-shadow: 1px 1px 8px white;
    transition: 1s;
}

.navbar-nav{
    width: 100%;
    gap: 2rem;
}

.navbar-collapse{
    flex-grow: unset;
}

.collapsing{
    background-image: url(../img/header-footer/header.png);
    background-size: 100%;
    padding: 1rem 0 0.5rem 0.5rem;
    border-width: 0 0.2rem 0.2rem 0.2rem;
    border-style: dashed;
    border-color: rgb(118, 17, 17)
}

.show{
    @extend .collapsing;
}

.navitem{
    width: max-content;
    padding: 0rem 1rem;
    border-radius: 1.6rem;
}

.navitem:hover{
    background-color: #5F5B5B;
    transition: 0.7s;
}

.navlink{
    font-size: 2.4rem;
    text-decoration: none;
    color: #D6D1D1;
}

.navlink-actual{
    text-decoration: underline;
    color: #DE7A7A;
    text-shadow: 1px 1px 6px;
}

/* ICONOS */

@mixin nav-icon-size($height, $width){
    height: $height;
    width: $width;
}

.nav-icon{
    @include nav-icon-size(2.5rem, 2.5rem);
    margin-bottom: -0.5rem;
    margin-right: 0.5rem;
}

.nav-icon-planetas{
    @include nav-icon-size(2rem, 3.5rem);
    margin-bottom: -0.2rem;
}

.nav-icon-observatorio{
    @include nav-icon-size(2.5rem, 2rem);
}

.nav-icon-actual{
    filter: drop-shadow(1px 1px 6px white);
}

.navbar-toggler-icon{
    background-image: url(../img/header-footer/navbar-expand-icon.png);
    width: 6rem;
    height: 6rem;
}

@media screen and (max-width: 1400px){
    .navlink{
        font-size: 2rem;
    }

    .nav-icon{
        @include nav-icon-size(2.2rem, 2.2rem);
    }
    
    .nav-icon-planetas{
        @include nav-icon-size(1.7rem, 3rem);
    }
    
    .nav-icon-observatorio{
        @include nav-icon-size(2.2rem, 1.7rem);
    }
}

@media screen and (max-width: 768px){
    .header{
        height: 6.66rem;
    }

    .navheader{
        font-size: 2.8rem;
        margin-right: 0rem;
        height: calc($height-navbar / 3);
    }

    .navbar-container{
        height: 100%;
    }

}